@import './base.css';


a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.5s ease;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #5094af;
  color: #e9f1f5;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  a:hover {
    color: white;
    border-bottom: 1px solid white;
  }

  button:hover {
    background-color: #5dc1e4;
    color: white;
  }
}



